<!doctype html>

<html ng-app = 'Myapp'>
<head>
<title>Welcome!</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="A safe place and private way to stay in touch!">
<meta name="author" content="Coding Dojo Scrum Team">

<script src="angular/angular.js"></script>
<script src="angular-route/angular-route.js"></script>
<link rel='stylesheet' href='../../../style.css'>

<script src = "app.js"></script>
<script src = "/controllers/indexController.js"></script>
<script src = "/factories/postsFactory.js"></script>
<script src="https://use.fontawesome.com/3b9b16c0a6.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>



</head>
<body ng-controller='indexController'>
	<nav class="navbar navbar-default navbar-static-top"> <!-- id="nav-color" -->
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand navbar-left" href="#">
					<img alt="SVF Logo" src="...">
				</a>
			</div>
			<!-- </div> --> <!-- remove if you want to cover menu button -->
			<!-- Navigation -->
			<a id="menu-toggle" class="btn-dark menu-align"><i class="fa fa-bars" style="font-size: 200%"></i></a>
			<nav id="sidebar-wrapper">
				<ul class="sidebar-nav navbar-brand navbar-right">
					<li class="sidebar-brand">
						<b><a href="/" onclick=$("#menu-close").click(); style="Helvetica Neue">Silicon Valley Faces</a></b>
					</li>
					<li>
						<a href="#posts" onclick=$("#menu-close").click(); data-toggle="modal" data-target="#mkPostModal">Make a Post</a>
					</li>
					<li>
						<a href="#profile" onclick=$("#menu-close").click(); data-toggle="modal" data-target="#editProfileModal">Profile</a>
					</li>
					<li>
						<a href="#finduser" onclick=$("#menu-close").click(); data-toggle="modal" data-target="#findUserModal">Find a Friend</a>
					</li>
					<li role="separator" class="divider"></li>
					<li>
						<a href="#termsConditions" onclick=$("#menu-close").click();>Terms & Conditons</a>
					</li>
					<li>
						<a href="#logout" onclick=$("#menu-close").click();>Logout</a>
					</li>
					<a id="menu-close" class="btn-light toggle"><i class="fa fa-times" style="font-size: 25px"></i></a> <!-- ADD IF covers menu -->
				</ul>
			</nav>
		</div>
	</nav>
	<!-- Modal -->
	<div class="modal fade" id="mkPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Make a Post</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal">
						<div class="form-group">
							<label for="caption" class="col-sm-2 control-label">Caption</label>
							<div class="col-sm-10">
								<input type="text" class="form-control" id="caption" placeholder="Enter caption" ng-model="post.title">
							</div>
						</div>
						<div class="form-group">
							<label for="customer_name" class="col-sm-2 control-label" >Image (url):</label>
							<div class="col-sm-10">
								<input class="form-control" name="url" type="text" ng-model="post.url" placeholder="http://" required >
							</div>
						</div>
						<div class="form-group">
							<label for="caption" class="col-sm-2 control-label">Message</label>
							<div class="col-sm-10">
								<textarea class="form-control" rows="3" ng-model='post.text'></textarea>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary" ng-click='addPost()' data-dismiss = "modal">Post</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="mkPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
				</div>
				<div class="modal-body">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Edit Profile</h4>
				</div>
				<div class="modal-body">

					<div w3-include-html="firstProject.html"></div>












					<!--<p>Hi </p><link type="html" href='./firstProject.html'>-->
					</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save</button>
				</div>
			</div>
			</div>
		</div>
		<div class="modal fade" id="findUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
		<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<h4 class="modal-title" id="myModalLabel">Find a Friend</h4>
	</div>
	<div class="modal-body">
	...
	</div>
	<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	<button type="button" class="btn btn-primary">Search</button>
	</div>
	</div>
	</div>
</div>












<div>
	<ul ng-repeat = 'x in posts'>
		<h4>{{x.title}}</h4>
		{{x.text}} - {{x.created_at | date: 'MMMM, dd, yyyy @ H:m a'}}
	</ul>


</div>













<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>
$('.fa.fa-bars').hover(function() {
/* Stuff to do when the mouse enters the element */
style='font-size: 55px'
}, function() {
/* Stuff to do when the mouse leaves the element */
style='font-size: 25px'
}); 

// Closes the sidebar menu
$("#menu-close").click(function(e) {
e.preventDefault();
$("#sidebar-wrapper").toggleClass("active");
});
// Opens the sidebar menu
$("#menu-toggle").click(function(e) {
e.preventDefault();
$("#sidebar-wrapper").toggleClass("active");
});
// Scrolls to the selected menu item on the page

</script>
<script src="http://www.w3schools.com/lib/w3data.js"></script>
<script>
	w3IncludeHTML();
</script>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>