
 <!-- User Info -->
  <div class="container-fluid" ng-controller='indexController'>
 	<div ng-if="loggedInUser.data[0] != null" class="col-sm-12">

 	</div>
	<div class="">

    <img src={{user.url}} alt= 'no picture' height = '120px' width= '120px'>
    <!-- <p style="color: red">$rootScope.user - user information is stored in $rootScope.user</p> -->
    <!-- <p>user ID = $rootScope.user._id </p>
    <p>user first name = $rootScope.user.first_name</p>
    <p>user last name  = $rootScope.user.last_name</p>
    <p>user email      = $rootScope.user.email</p>
    <p>user phoone #   = $rootScope.user.phone</p> -->
    <br>ID: {{ user._id }}
		<br> User Name: {{ user.first_name }} {{ user.last_name }}
		<br> Email: {{ user.email }}
    <br> phone: {{ user.phone }}
	</div>
  	<!-- End of user information -->
  	<!-- Search Bar   -->
 <div class="container">
 	<form class="searchForm form-horizontal col-sm-12">
 		<input type="text" id="searchField" class="search-input col-sm-9" name="search" ng-model="search.text" placeholder="Name, Post Title, Post Content">
 		<input type="submit" name="searchButton" id="searchBtn" class="btn-lg searchBtn col-sm-2 pull-right" ng-click="searchPosts(search)" value="Search">
 	</form>
 	<button class="btn-lg searchBtn col-sm-2 pull-right" ng-if='feed == false' ng-click = 'reset()'>Back to feed</button>
 </div>
  <!-- End of Search Bar   -->

  <!--  Loading posts from database-->

  	<div ng-repeat = 'x in posts | orderBy: createdAt : true' style="padding-left: 0;">
  		<div class="container">
 			<div class="col-sm-12" style="padding: 0;">
        <div class="col-sm-2" style="margin-top:15px; padding: 0;">
          <!--  For laptop-->
          <img class="profile-pic" src={{x._user_id.profile_pic}}><br>
           <strong >{{ x._user_id.first_name }} {{x._user_id.last_name}}</strong>
        </div>
        <div class="col-sm-10" style="padding: 0;">
          <h4>
            <!--  For mobile device-->
            <img src={{x._user_id.profile_pic}} style="display: inline; height:36px; width:36px;">
            <p style="display: inline; font-size:12px;">{{ x._user_id.first_name }} {{x._user_id.last_name}}</p><br>

            {{x.title}}
          </h4>
  					<img class="img-responsive" ng-if="x.url" src="{{x.url}}"  alt="img">
            <div ng-if="x.urlVideo" class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" ng-src="{{x.urlVideo | trusted}}" frameborder="0" allowfullscreen></iframe>
            </div>
   					<p>{{x.text}} - {{x.createdAt | date: 'MMMM, dd, yyyy @ h:mm a'}}</p>
            <div class="row" style="padding-bottom: 15px;">

                <button ng-if='user._id == x._user_id._id' ng-click= "grabPost(x)" class="btn editBtn" href="#/" data-toggle="modal" data-target="#editPostModal"><span class="glyphicon glyphicon-pencil" aria-hidden="true" ></span> Edit</button>
                <button ng-if='user._id == x._user_id._id' class="btn deleteBtn btn-danger" ng-click = 'deletePost(x._id)'><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
                <button ng-if ="x.flagged !== true" type="button" class="btn btn-danger" aria-label="Left Align" ng-click='flagPost(x._id)'>
                  <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" ></span> Flag Post
                </button>
                <p ng-if ="x.flagged == true" class="label label-danger">This post has been flagged and is under review by the moderator</p>
            </div>
          </div>


 					<div class="col-sm-offset-2 col-sm-9" ng-repeat='c in x.comments' >
  	                    <!-- {{c}} -->
  						<h5>{{c._user_name}} commented:</h5>
 						<p class="col-sm-offset-1">{{c.text}} <button ng-if='user._id == c._user' class="btn deleteBtn btn-danger" ng-click = 'deleteComment(c._id)'>Delete</button></p>
 						<hr>
  					</div>
 				</div>
 			<div id="comment" class="col-sm-offset-2 col-sm-10">
 				 <form class="form-horizontal">
  					<div class="form-group">
 						<textarea class="form-control" rows="3" ng-model='comment[x._id].text'></textarea>
  					</div>
  					<div class="form-group">
 						<button class="btn commentBtn pull-right" type="submit" value="Comment" ng-click='commentPost(x._id)'>Comment</button>
  					</div>
 				</form>

  			</div>
      </div>
  		</div>
      <!-- Edit post modal -->
      <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title" id="myModalLabel">Edit Post</h4>
                  </div>
                  <div class="modal-body">
                      <form class="form-horizontal">
                          <div class="form-group">
                              <label for="title" class="col-sm-2 control-label">Title</label>
                              <div class="col-sm-10">
                                  <input type="text" class="form-control" ng-model="grabbedPost.title"  placeholder="grabbedPost.title">
                              </div>
                          </div>
                          <div ng-if="grabbedPost.url" class="form-group">
                              <label for="imgURL" class="col-sm-2 control-label">Image (url):</label>
                              <div class="col-sm-10">
                                  <input class="form-control" name="url" type="text" ng-model="grabbedPost.url" placeholder="grabbedPost.url">
                              </div>
                          </div>
                          <div ng-if="grabbedPost.urlVideo" class="form-group">
                              <label for="videoURL" class="col-sm-2 control-label">Video (url):</label>
                              <div class="col-sm-10">
                                  <input class="form-control" name="urlVideo" type="text" ng-model="grabbedPost.urlVideo" placeholder="grabbedPost.urlVideo">
                              </div>
                          </div>
                          <div class="form-group">
                              <label for="message" class="col-sm-2 control-label">Message</label>
                              <div class="col-sm-10">
                                  <textarea class="form-control" rows="3" ng-model='grabbedPost.text' placeholder="grabbedPost.text"></textarea>
                              </div>
                          </div>
                          <div class="form-group">
                              <div class="col-sm-12">
                                  <button type="button" class="btn btn-primary pull-right" ng-click='editPost(grabbedPost._id, grabbedPost.title, grabbedPost.url, grabbedPost.urlVideo, grabbedPost.text)' data-dismiss="modal">Post</button>
                              </div>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
