<div class="tp-banner" >
    <ul>
        <!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
            <!-- MAIN IMAGE -->
            <img src="img/transparent.png"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">


            <div class="tp-caption lfl fadeout visible-xs"
                data-x="left"
                data-y="center"
                data-hoffset="700"
                data-voffset="0"
                data-speed="500"
                data-start="700"
                data-easing="Power4.easeOut">
                <img src="img/svf1.jpg" alt="">
            </div>

            <div class="tp-caption large_white_bold sft" data-x="650" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1200" data-easing="Power4.easeOut" >
                Silicon
            </div>
            <div class="tp-caption large_white_light sfr" data-x="870" data-y="center" data-hoffset="0" data-voffset="-80" data-speed="500" data-start="1400" data-easing="Power4.easeOut">
                Valley
            </div>
            <div class="tp-caption large_white_light sfb" data-x="750" data-y="center" data-hoffset="0" data-voffset="0" data-speed="1000" data-start="1500" data-easing="Power4.easeOut">
                FACES
            </div>

            <div class="tp-caption sfb hidden-xs" data-x="550" data-y="center" data-hoffset="0" data-voffset="85" data-speed="1000" data-start="1700" data-easing="Power4.easeOut">
                <a href="#about" class="btn btn-primary inverse btn-lg">LEARN MORE</a>
            </div>
        </li>
        </ul>
      </div>
