<!--  this is the navigation bar for the wall page -->
<header>
    <nav class="navbar navbar-default " role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button id="circleButton" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="fa fa-bars fa-lg"></span>
                </button>
                <a class="navbar-brand" href="#/">
                    <img src="img/svfLogo.jpeg" alt="" class="logo">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right" id="navButton">
                    <li>
                        <img src="" alt='profile_pic'>
                        <a href="" data-toggle='modal' data-target='#uploadModal'>Upload New Picture</a>
                    </li>
                    <li>
                        <li>
                            <a href="#/wall" data-toggle="modal" data-target="#mkPostModal">Make a Post</a>
                        </li>
                        <li>
                            <a href="#/wall" data-toggle="modal" data-target="#editProfileModal">Profile</a>
                        </li>
                        <li>
                            <a href="#/wall" data-toggle="modal" data-target="#findUserModal">Find a Friend</a>
                        </li>

                        <li><a href="/logout">Log Out</a>
                        </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-->
    </nav>
    <!-- Make a post modal -->
    <div class="modal fade" id="mkPostModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Make a Post</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="title" class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="postTitle" placeholder="Enter title" ng-model="post.title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="imgURL" class="col-sm-2 control-label">Image (url):</label>
                            <div class="col-sm-10">
                                <input class="form-control" name="url" type="text" ng-model="post.url" placeholder="http://">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="message" class="col-sm-2 control-label">Message</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="3" ng-model='post.text'></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-primary pull-right" ng-click='addPost()' data-dismiss="modal">Post</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit Profile Modal -->
    <div class="modal fade" id="editProfileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <!-- 					<h4 class="modal-title" id="myModalLabel">Edit Profile</h4> -->
                </div>
                <div class="modal-body">

                    <!-- <div w3-include-html="firstProject.html"></div> -->





                    <!-- <p>Hi </p><link type="html" href='./firstProject.html'> -->
                </div>
            </div>
        </div>
    </div>

    <!-- Upload new picture modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Upload a picture</h4>
                </div>
                <div class="modal-body">
                    <input type="file">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Upload</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Find User Modal -->
    <div class="modal fade" id="findUserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Find a Friend</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="findFriend" class="col-sm-2 control-label">Search</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="findFriend" placeholder="Provide Friend's Name" ng-model=SearchName.name>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" ng-click=searchUsers() class="btn btn-primary pull-right" data-dismiss="modal">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</header>
