

<div style="margin-bottom: 30px">
<h1>To upload an image:</h1>

<p>1. Right click image &  select "Copy image address":<br>


<img src="./img/copy_image_address1.png" style="height: auto; width:100% "><br>

(if you don't click "Copy Image address" the image won't post to Silicon Valley Faces)</p>

<p>2. Paste in image to post on "Make a post" on Silicon Valley Faces:</p><br>
<img src="./img/copy_image_address2.png" class="tipsImage"><br>
</div>

<div >
<h1>To add a youtube video:</h1>

<p>1. Go to your video: </p>
<img src="./img/copy_video_address1.png" class="tipsImage"><br>


<p>2. Select & copy url: </p>
<img src="./img/copy_video_address2.png" class="tipsImage"><br>


<p>3. Paste into video upload on "Make a post" on Silicon Valley Faces</p>
<img src="./img/copy_video_address3.png" class="tipsImage"><br>
</div>