
    <h2>Wall Page</h2> User Status: {{ userStatus }}
    <br>

<!-- Search Bar   -->
    <form>
        <input type="text" name="search" ng-model="search.text" placeholder="Name, Post Title, Post Content">
        <input type="submit" name="submit" ng-click="searchPosts(search)" value="Search">
    </form>
<!-- End of Search Bar   -->

<!-- Search Bar   -->
    <div ng-if="loggedInUser.data[0] != null" class="container">
        ID: {{ loggedInUser.data[0]._id }}
        <br> First Name: {{ loggedInUser.data[0].first_name | capitalize }}
        <br> Last Name: {{ loggedInUser.data[0].last_name | capitalize }}
        <br> Email: {{ loggedInUser.data[0].email }}
        <br>
    </div>
<!-- End of user information -->

<!--  Loading posts from database-->
    <div >


        <ul ng-repeat='x in posts'> {{x.name}}
            <h4>{{x.title}}</h4> {{x.text}} - {{x.created_at | date: 'MMMM, dd, yyyy @ h:mm a'}}




            <button ng-if="user_id == x._user_id" ng-click='deletePost(x._id)'>Delete Post</button>
            <button  type="button" class="btn btn-danger" aria-label="Left Align">
              <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true" ng-click='flagPost(x._id)'></span> Flag Post
            </button>
        </ul>
    </div>
