body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*#nav-color{
    background-color: #141D3D
}*/

/*.navbar.navbar-default.navbar-static-top{
    border-bottom: 1px solid black;
    margin-bottom: 0;
}*/

.postIMG{
    width: 100%;
}


.featured-article {
    position: relative;
    margin-bottom: 1em;
}

.featured-article .block-title {
    /* Position & Box Model */
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    /* background */
    background: rgba(0,0,0,0.7);
    /* Width/Height */
    padding: .5em;
    width: 100%;
    /* Text color */
    color: #fff;
}

.featured-article .block-title h2 {
    margin: 0;
}



.btn.commentBtn{
    color: white;
    background-color: #5679ED;
}

.btn.commentBtn:hover,
.btn.commentBtn:focus,
.btn.commentBtn:active {
    color: white;
    background-color: #19254E;
}

/*Post Search CSS*/
.search-input {
    height: 50px;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid black;
    border-radius: 0;
}

.searchForm{
    margin-top: 0;
}

.searchForm.form-horizontal{
    padding: 0 0 15px 0;
}

.btn-lg.searchBtn{
    border-radius: 0;
}

.search-input:focus {
    outline: none;
}

.search-icon {
    background:transparent;
}

.searchBtn{
    color: white;
    background-color: #5679ED;
    border: none;
}

.searchBtn:hover,
.searchBtn:focus,
.searchBtn:active {
    background-color: #19254E;
}

.menu-align{
    margin: 13px 15px 0 0;
}

/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #5679ED;
    background-color: transparent;
}

.btn-light {
    border-radius: 0;
    color: white;
    padding-left: 50%;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: #5679ED;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: red;
}



.fa.fa-bars i:hover a{ /* Or use>> .tabs a:hover */
   font-size: 300%
}
/* Side Menu */

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #19254E;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #999;
/*    background: rgba(255,255,255,0.2);*/
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #5679ED;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

