._35i0{text-decoration:underline}._4g4e{color:#4b4f56}
.sp_Na6RxBqVdH7{background-image:url(/rsrc.php/v2/y-/r/Hs36PagyKTy.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:50px;width:50px}.sp_Na6RxBqVdH7.sx_b0eef2{width:7px;height:7px;background-position:0 -51px}.sp_Na6RxBqVdH7.sx_5b4b7d{background-position:0 0}

#bootloader_8g97V{height:42px;}.bootloader_8g97V{display:block!important;}